/*초기화*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slides{
    width: auto;
}

.slides>li{
    list-style-type: none;
}

/* 보여 줄 구간의 높이와 넓이 설정 */
.mainimg{
    /* width: 1600px; */
    height: 400px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    display: flex;
}

.slide{
	width: 100vw;
	height: 400px;
	background: no-repeat 50%/cover;
	position: relative;
}

.img1{
    background-image: url(/resources/image/store/storeimg1.png);

}
.img2{
    background-image: url(/resources/image/store/storeimg2.jfif);
}
.img3{
    background-image: url(/resources/image/store/storeimg3.jfif);
}
.img4{
    background-image: url(/resources/image/store/storeimg1.png);
}
.img5{
    background-image: url(/resources/image/store/storeimg5.png);
}

/* 슬라이드들 옆으로 정렬 */ 
.slides>li:not(:last-child){ 
    float: left; 
}


.slides{
    position: absolute;
    left: 0;
    top: 0;
    padding:0;
}

.img2text{
	color: white;
	font-size: 20px;
}

.img2text2{
	color: white;
	font-size: 10px;
}

.maintext{
	padding-top: 200px;
	padding-left: 30px;
}

.slides.animated{
    transition: 0.5s ease-out;
    /*ease-out 처음에는 느렸다가 점점 빨라짐*/
}

.mainimg>.slides>li{
    float: left;
    list-style-type: none;
}

.controller>span{ 
    position:absolute; 
    color: rgba(255, 255, 255, 0.516); 
    text-align: center; 
    padding: 10px 20px; 
    top: 45%;
    font-size: 2em; 
    cursor: pointer; 
}
.controller>span{
    margin-top: 100px;
}
.prev{
    right: 140px;
}
.next{
    right: 100px;
}
/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */ 
.controller span:hover{ 
    color: snow; 
} 
