/*초기화*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slides{
    width: auto;
}

.slides>li{
    list-style-type: none;
}

/* 보여 줄 구간의 높이와 넓이 설정 */
.mainimg{
    width: 1600px;
    height: 350px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
}

/* 첫 번째 슬라이드 가운데에 정렬하기위해 첫번째 
슬라이드만 margin-left조정 */ 
.slides>li:first-child{ 

} 

/* 슬라이드들 옆으로 정렬 */ 
.slides>li:not(:last-child){ 
    float: left; 
}

.img1{
    background-image: url(/resources/image/store/test1.jpg);
    width: 1600px;
    height: 350px;
}
.img2{
    background-image: url(/resources/image/store/test2.jpg);
    width: 1600px;
    height: 350px;
}
.img3{
    background-image: url(/resources/image/store/test3.jpg);
    width: 1600px;
    height: 350px;
}
.img4{
    background-image: url(/resources/image/store/test4.jpg);
    width: 1600px;
    height: 350px;
}
.img5{
    background-image: url(/resources/image/store/test5.jpg);
    width: 1600px;
    height: 350px;
}

.slides{
    position: absolute;
    left: 0;
    top: 0;
}

.slides.animated{
    transition: 0.5s ease-out;
    /*ease-out 처음에는 느렸다가 점점 빨라짐*/
}

.mainimg>.slides>li{
    float: left;
    list-style-type: none;
}

.controller>span{ 
    position:absolute; 
    background-color: rgba(66, 66, 66, 0.226); 
    color: rgba(255, 255, 255, 0.516); 
    text-align: center; 
    padding: 10px 20px; 
    top: 50%;
    font-size: 1em; 
    cursor: pointer; 
}
.controller>span{
    margin-top: 100px;
}
.prev{
    right: 146px;
}
.next{
    right: 100px;
}
/* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */ 
.controller span:hover{ 
    color: snow; 
} 
