<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- null 값이 발생하는 경우 빈칸이 아닌 null로 처리 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.fund.model.vo.Fund" alias="f"/>

		<typeAlias type="kr.or.member.vo.Member" alias="m"/>
		<typeAlias type="kr.or.store.model.vo.Store" alias="s"/>
		<typeAlias type="kr.or.fund.model.vo.TmpFund" alias="tf"/>
		<typeAlias type="kr.or.coupon.model.vo.Coupon" alias="coupon"/>		
		<typeAlias type="kr.or.fund.model.vo.TmpReward" alias="tr"/>
		<typeAlias type="kr.or.fund.model.vo.TmpFundCalculate" alias="tfc"/>
		
		
		
		
		
		
		
		
		<typeAlias type="kr.or.member.vo.Seller" alias="sel"/>
		<typeAlias type="kr.or.member.vo.Follow" alias="fol"/>
		<typeAlias type="kr.or.member.vo.FundReq" alias="fr"/>
		
		
	</typeAliases>
	
	<typeHandlers>
        <typeHandler handler="kr.or.store.model.vo.Handler" javaType="String" jdbcType="LONGVARCHAR"/>
    </typeHandlers>
</configuration>
